* {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin: 44px 0 144px 76px;
}

header a {
    color: #989D9C;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.login-button {
    background-color: #665AE1;
    color: #fff;
    border: none;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

main {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    gap:100px;
}

.we-care-logo {
    width: 568px;
    height: 500px;
}



.hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

p {
    color: #848484;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.explore-button {
    margin-top: 40px;
    width: 239px;
    height: 64px;
    border: none;
    border-radius: 30.5px;
    background-color: #adff00;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,-0,-0,0.25));
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
        margin: 60px 20px;
        gap: 40px;
    }
    .we-care-logo {
        width: 80vw;
        height: auto;
        max-width: 400px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    header {
        display: none;
    }
    main {
        margin: 120px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .we-care-logo {
        width: 100vw;
        max-width: 250px;
        height: auto;
    }
    .hero-2 {
        display: flex;
        align-items:center;
        justify-content: center;
    }

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 20px;
    }
    p   {
        display: none;
        visibility: hidden;
    }
    p, .login-button, .explore-button {
        font-size: 16px;
    }
    .explore-button, .login-button {
        width: 85%;
        min-width: 0;
        height: 48px;
    }
}